body {
    font-family: Arial, sans-serif;
    background-color: #a8dbf0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #7cc4ea;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    position: relative;
}


.avatarlogin {
    background-image: url('login.png'); 
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin: 10px 0 5px;
    color: #205b9d;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.show-password {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: flex-start;
    color: #205b9d;
}

.show-password input {
    margin-right: 5px;
}

.login-form button {
    background-color: #ffffff;
    color: #205b9d;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.register-link {
    color: white;
    margin-top: 20px;
}

.register-link a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
